<div class="limiter">
    <div class="container-login100" style="background-image: url('assets/img/signup-img.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form" style="margin: auto;">
                <span class="login100-form-title p-b-49">
                    Create Your Free Account
                </span>

                <br>
                
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center">
                                <button class="button-86" role="button">
                                    <a href="#" class="align-items-center text-decoration-none" style="color: white;">
                                        <i class="bi bi-google justify-content-start"></i> Continue With Google 
                                    </a>
                                </button>
                                
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="text-center">
                                <button class="button-86" role="button">
                                <a href="#" class="align-items-center text-decoration-none" style="color: white;">
                                    <i class="bi bi-facebook"></i> Continue With Facebook
                                </a>
                                </button>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="text-center">
                                <button class="button-86" role="button">
                                <a href="#" class="align-items-center text-decoration-none" style="color: white;">
                                    <i class="bi bi-apple"></i> Continue With Apple
                                </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="txt1 text-center p-t-54 p-b-20">
                    <span class="container mt-5">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-auto">
                                <div class="horizontal-line"></div>
                                OR
                                <div class="horizontal-line"></div>
                            </div>
                        </div>
                    </span>
                </div>


                <div class="container mt-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center">
                                <button class="button-86" role="button">
                                    <a href="#" class="align-items-center text-decoration-none" style="color: white;">
                                        Create a Free Account 
                                    </a>
                                </button>
                                
                            </div>
                        </div>    
                    </div>
                </div>
<!-- HTML !-->
                <div class="flex-col-c p-t-155 text-center align-items-center justify-content-center">
                    Already have an Account? <a routerLink="/Log In" class="text-decoration-dashed">Login</a>

                    <span class="txt1 p-b-17">
                        <p>By continuing to use AllTrails, you agree to our <a href="">Terms of Service</a> and <a href="">Privacy Policy</a>. Personal data added to AllTrails is public by default — refer to our <a href="">Privacy FAQs</a> to make changes.</p>

                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

