<div class="limiter">
    <div class="container-login100" style="background-image: url('assets/img/login2.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form" style="margin: auto;">
                <span class="login100-form-title p-b-49">
                    Login
                </span>

                <div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired" style="margin-left: 2px;">
                    <span class="label-input100"><i class="bi bi-person-square"></i> Email </span>
                    <input class="input100" type="email" name="email" placeholder="Email Address">
                    
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required" style="margin-left: 2px;">
                    <span class="label-input100"> <i class="bi bi-lock-fill"></i> Password</span>
                    <input class="input100" type="password" name="pass" placeholder="Type your password">
                </div>
                
                <br>
                <div class="container-login100-form-btn">
                    
                    
                        <button class="button-86" role="button">
                            Login
                        </button>
                    
                </div>
                <br>
                <div class="text-center p-t-8 p-b-31">
                    <a href="#">
                        Forgot password?
                    </a>
                </div>

                <div class="txt1 text-center p-t-54 p-b-20">
                    <span>
                        Or Sign Up Using
                    </span>
                </div>
                
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center">
                                <button class="button-86" role="button">
                                    <a href="#" class="align-items-center text-decoration-none" style="color: white;">
                                        <i class="bi bi-google justify-content-start"></i> Continue With Google 
                                    </a>
                                </button>
                                
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="text-center">
                                <button class="button-86" role="button">
                                <a href="#" class="align-items-center text-decoration-none" style="color: white;">
                                    <i class="bi bi-facebook"></i> Continue With Facebook
                                </a>
                                </button>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="text-center">
                                <button class="button-86" role="button">
                                <a href="#" class="align-items-center text-decoration-none" style="color: white;">
                                    <i class="bi bi-apple"></i> Continue With Apple
                                </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

<!-- HTML !-->

              

                <div class="flex-col-c p-t-155 text-center align-items-center justify-content-center">
                    Don't have an account? <a routerLink="/Create Account" class="text-decoration-dashed">Sign up for free</a>

                    <span class="txt1 p-b-17">
                        <p>By continuing to use AllTrails, you agree to our <a href="">Terms of Service</a> and <a href="">Privacy Policy</a>. Personal data added to AllTrails is public by default — refer to our <a href="">Privacy FAQs</a> to make changes.</p>

                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
