<!-- <div class="row mt-4">
    <ul class="cards mx-auto">
      <li class="cards_item" *ngFor="let activity of filteredActivities">
        <div class="card">
          <div class="card_image">
            <button class="card_price"> <i class="bi bi-heart-fill fs-5"></i> </button>
            <img [src]="activity.image" alt="">
          </div>
          <div class="card_content">
            <h2 class="card_title">  {{ activity.name }}  </h2>
            <div class="card_text">
              <p> <b>  {{ activity.description }} </b>
              </p>
              <hr />

            </div>
          </div>
        </div>
      </li>
    </ul>
  </div> -->