<!-- <div class="d-flex" style="background-image: url('assets/img/plus-.jpg'); background-attachment: fixed; background-repeat: no-repeat; background-size: cover; padding-top: 30px; padding-bottom: 30px;">
    <div class="info-landing">
        <h1 class="info-h1">Your first week’s on us</h1>
        <h4>Then only $29.99 a year (that’s $2.50 a month)</h4>
       <div class="info-btn">
        <button class="button-86" role="button" routerLink="/Create Account">Start your free trial</button>
       </div>
    </div>
    <div class="justify-content-end align-items-right trails-plus">
        <table class="table table-striped table-borderless">
            <thead>
              <tr>
                <th scope="col">Features</th>
                <th scope="col">Free</th>
                <th scope="col">AllTrails+</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Access 200 Guides</th>
                <td id="new">new</td>
                <td><i class="bi bi-check-circle-fill"></i></td>
              </tr>
              <tr>
                <th scope="row">Navigate on the trail</th>
                <td><i class="bi bi-check-circle-fill"></i></td>
                <td><i class="bi bi-check-circle-fill"></i></td>
              </tr>
              <tr>
                <th scope="row">Favorite trails and create lists</th>
                <td><i class="bi bi-check-circle-fill"></i></td>
                <td><i class="bi bi-check-circle-fill"></i></td>
              </tr>
              <tr>
                <th scope="row">Send routes to Garmin</th>
                <td id="new"> new </td>
                <td><i class="bi bi-check-circle-fill"></i></td>
              </tr>
              <tr>
                <th scope="row">Download offline maps</th>
                <td></td>
                <td><i class="bi bi-check-circle-fill"></i></td>
              </tr>
              <tr>
                <th scope="row">Get alerts for wrong turns</th>
                <td></td>
                <td><i class="bi bi-check-circle-fill"></i></td>
              </tr>
              <tr>
                <th scope="row">Know conditions before you go </th>
                <td id="new"> new </td>
                <td><i class="bi bi-check-circle-fill"></i></td>
              </tr>
              <tr>
                <th scope="row">Preview 3D Flyovers</th>
                <td></td>
                <td><i class="bi bi-check-circle-fill"></i></td>
              </tr>
              <tr>
                <th scope="row">Unlock more map details</th>
                <td></td>
                <td><i class="bi bi-check-circle-fill"></i></td>
              </tr>
              <tr>
                <th scope="row">Print maps for backup</th>
                <td></td>
                <td><i class="bi bi-check-circle-fill"></i></td>
              </tr>
              <tr>
                <th scope="row">Brin trails to life with 3D maps</th>
                <td></td>
                <td><i class="bi bi-check-circle-fill"></i></td>
              </tr>
              <tr>
                <th scope="row">Explore ad free</th>
                <td></td>
                <td><i class="bi bi-check-circle-fill"></i></td>
              </tr>
              <tr>
                <th scope="row">Give back with 1% or the planet</th>
                <td></td>
                <td><i class="bi bi-check-circle-fill"></i></td>
              </tr>
            </tbody>
          </table>
    </div>
</div> -->

<section class="p-3" style="background-image: url('assets/img/plus-.jpg'); background-attachment: fixed; background-repeat: no-repeat; background-size: cover;">
  <div class="container mt-4">
      <div class="row">
          <div class="col-md-6">
              <!-- Left side with text and button -->
              <div class="text-center" style="color: #fff;">
                  <!-- logo -->
                  <h2>Your first week’s on us</h2>
                  <h5>Then only $29.99 a year (that’s $2.50 a month)</h5>
                 <div class="info-btn">
                  <button class="button-86" role="button" routerLink="/Create Account">Start your free trial</button>
                 </div>
              </div>
          </div>

          <div class="col-md-6">
              <!-- Right side with image -->
              <div class="text-center">
                <table class="table table-striped table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">Features</th>
                      <th scope="col">Free</th>
                      <th scope="col">HikeAll<sub>+</sub></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Access 200 Guides</th>
                      <td id="new">new</td>
                      <td><i class="bi bi-check-circle-fill"></i></td>
                    </tr>
                    <tr>
                      <th scope="row">Navigate on the trail</th>
                      <td><i class="bi bi-check-circle-fill"></i></td>
                      <td><i class="bi bi-check-circle-fill"></i></td>
                    </tr>
                    <tr>
                      <th scope="row">Favorite trails and create lists</th>
                      <td><i class="bi bi-check-circle-fill"></i></td>
                      <td><i class="bi bi-check-circle-fill"></i></td>
                    </tr>
                    <tr>
                      <th scope="row">Send routes to Garmin</th>
                      <td id="new"> new </td>
                      <td><i class="bi bi-check-circle-fill"></i></td>
                    </tr>
                    <tr>
                      <th scope="row">Download offline maps</th>
                      <td></td>
                      <td><i class="bi bi-check-circle-fill"></i></td>
                    </tr>
                    <tr>
                      <th scope="row">Get alerts for wrong turns</th>
                      <td></td>
                      <td><i class="bi bi-check-circle-fill"></i></td>
                    </tr>
                    <tr>
                      <th scope="row">Know conditions before you go </th>
                      <td id="new"> new </td>
                      <td><i class="bi bi-check-circle-fill"></i></td>
                    </tr>
                    <tr>
                      <th scope="row">Preview 3D Flyovers</th>
                      <td></td>
                      <td><i class="bi bi-check-circle-fill"></i></td>
                    </tr>
                    <tr>
                      <th scope="row">Unlock more map details</th>
                      <td></td>
                      <td><i class="bi bi-check-circle-fill"></i></td>
                    </tr>
                    <tr>
                      <th scope="row">Print maps for backup</th>
                      <td></td>
                      <td><i class="bi bi-check-circle-fill"></i></td>
                    </tr>
                    <tr>
                      <th scope="row">Brin trails to life with 3D maps</th>
                      <td></td>
                      <td><i class="bi bi-check-circle-fill"></i></td>
                    </tr>
                    <tr>
                      <th scope="row">Explore ad free</th>
                      <td></td>
                      <td><i class="bi bi-check-circle-fill"></i></td>
                    </tr>
                    <tr>
                      <th scope="row">Give back with 1% or the planet</th>
                      <td></td>
                      <td><i class="bi bi-check-circle-fill"></i></td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
      </div>
  </div>
</section>