<div class="jumbotron jumbotron-fluid">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/slide1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Find Your OutDoors</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <a routerLink="/Explore" class="button-81" role="button" >Explore NearbyTrails</a>
          </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/slide2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Find Your OutDoors</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <a routerLink="/Explore" class="button-81" role="button" >Explore NearbyTrails</a>
          </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/slide3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Find Your OutDoors</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <a routerLink="/Explore" class="button-81" role="button" >Explore NearbyTrails</a>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- home slider -->
<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/slide1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Find Your OutDoors</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <a routerLink="/Explore" class="button-81" role="button" >Explore NearbyTrails</a>
          </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/slide2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Find Your OutDoors</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <a routerLink="/Explore" class="button-81" role="button" >Explore NearbyTrails</a>
          </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/slide3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Find Your OutDoors</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <a routerLink="/Explore" class="button-81" role="button" >Explore NearbyTrails</a>
          </div>
      </div>
    </div>
  </div> -->

  <!-- trails that fit your nature -->

  <div class="container-fluid mt-4">
    <div class="row">
        <!-- Left Side: Grid of Cards -->
        <div class="col-md-8 mt-4">
            <div class="row">
                <div class="col-md-3 mb-3">
                  <div class="card text-bg-dark border-0">
                    <img src="assets/img/hiking-card-carol.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                      <h5 class="card-title">Hiking</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 mb-4">
                  <div class="card text-bg-dark border-0">
                    <img src="assets/img/mbikung-car-carol.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                      <h5 class="card-title">Mountain Biking</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 mb-4">
                  <div class="card text-bg-dark border-0">
                    <img src="assets/img/running-card-carol.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                      <h5 class="card-title">Running</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 mb-4">
                  <div class="card text-bg-dark border-0">
                    <img src="assets/img/rbiking-card-carol.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                      <h5 class="card-title">Road Biking</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 mb-4">
                  <div class="card text-bg-dark border-0">
                    <img src="assets/img/camping-card-carol.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                      <h5 class="card-title">Camping</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 mb-4">
                  <div class="card text-bg-dark border-0">
                    <img src="assets/img/ski-card-carol.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                      <h5 class="card-title">Skiing</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 mb-4">
                  <div class="card text-bg-dark">
                    <img src="assets/img/rockclimb-car-carol.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                      <h5 class="card-title">Rock Climbing</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 mb-4">
                  <div class="card text-bg-dark border-0">
                    <img src="assets/img/stroller-card-carol.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                      <h5 class="card-title">Stroller Friendly</h5>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <!-- Right Side: Paragraph and Sign-up Button -->
        <div class="col-md-4">
            <div class="p-4" style="color: #2c5601;">
              <h1>
                Trails that fit your nature
              </h1>
                <p>
                  Whether you’re pushing your limits or pushing a stroller, we've got you covered.
                </p>
                <a routerLink="/Create Account" class="button-81" role="button" >sign Up</a>
            </div>
        </div>
    </div>
</div>

  <!-- Explore with confidence -->
  <section class="background-section p-3" style="background-image: url('assets/img/login2.jpg');">
    <div class="container text-container" style="color: #2c5601;">
        <h1>Explore with confidence</h1>
        <p>Inspiration and guidance for wherever your trail may lead.</p>

        <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <!-- Google Review Star Rating -->
                  <div class="d-flex align-items-center mb-4">
                  </div>
              </div>
              <div class="col-md-6">
                  <!-- Review Text -->
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id velit et sapien viverra pulvinar
                    <br>
                  <span class="ml-5">4.9 stars
                    <div class="star-rating justify-content-between ml-3 fs-5">
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-half"></span>
                  </div>
                  </span>
                  </p>
                      
              </div>
          </div>
      </div>
    </div>

</section>

<!-- kilometers trekked grid -->
<div class="container mx-auto p-3" style="color: #2c5601;">
  <div class="row">
      <!-- Grid Item 1 -->
      <div class="col-md-4">
          <div class="text-center bg-transparent p-3 rounded">
              <h1>  400k+ </h1>
              <h4>curated trails</h4>
              <p>Discover unexpected gems, even in your own backyard.</p>
          </div>
      </div>

      <!-- Grid Item 2 -->
      <div class="col-md-4">
          <div class="text-center bg-transparent p-3 rounded">
              <h1>55 mil</h1>
              <h4>fellow explorers</h4>
              <p>Share your adventures and learn from our global community.</p>
          </div>
      </div>

      <!-- Grid Item 3 -->
      <div class="col-md-4">
          <div class="text-center bg-transparent p-3 rounded">
              <h1>1368+ mil</h1>
              <h4>logged kilometers</h4>
              <p>Navigate your way and keep a record of all your travels.</p>
          </div>
      </div>
  </div>
</div>

<!-- try AllTrails plus section -->
<div class="container">
  <section class="mx-auto">
    <div class="card pl-3 mb-3 border-0" style="max-width: fit-content; background-color: #2c5601; color: white;">
      <div class="row g-0">
        <div class="col-md-4 ml-3">
          <img src="assets/img/trytrails1.jpg" class="img-fluid rounded-start" alt="..." style="max-height: max-content;">
        </div>
        <div class="col-md-8 mb-4 mt-4">
          <div class="card-body border-0" style="text-align: center;">
            <h3 class="card-title">Trails+ </h3>
            <p class="card-text">         
              More tools for more adventures
              With offline maps, wrong-turn alerts, and extra planning features, HikeAll<sub>+</sub> helps you make the most of every minute outdoors.
              </p>
            <p class="card-text"><a routerLink="/Try AllTrails+" class="button-81" role="button" >Try HikeAll<sub>+</sub> Free</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- HTML !-->
<!-- <button class="button-81" role="button">Button 81</button> -->

<!-- give to all trails+ -->
<!-- <section style="color: #2c5601; background-color: #f6f5e8;">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
        <div class="col-md-6 p-lg-5 mx-auto my-5">
          <h1 class="display-3 fw-bold"> Give the gift of adventure</h1>
          <h3 class="fw-normal mb-3">Celebrate the nature lovers in your life with a whole year of offline maps, wrong-turn alerts, and lots more.</h3>
          <div class="d-flex gap-3 justify-content-center lead fw-normal">
            <button class="button-81" routerLink="/Try AllTrails+" role="button">Give AllTrails+</button>
          </div>
        </div>
        <div class="product-device shadow-sm d-none d-md-block" style="background: url(assets/img/1.png);"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      </div> -->

      <!-- <div class="container mt-4 ml-3">
        <div class="row">
            <div class="col-md-6">
                <div class="diagonal-images-container">
                    <img src="assets/img/1.png" alt="Image 1" class="diagonal-image image1 rounded">


                    <img src="assets/img/2.png" alt="Image 2" class="diagonal-image image2 rounded">
                </div>
            </div>
            <div class="col-md-6">
              <div class="col-md-6 p-lg-5 mx-auto my-5">
                <h1 class="display-3 fw-bold"> Give the gift of adventure</h1>
                <h3 class="fw-normal mb-3">Celebrate the nature lovers in your life with a whole year of offline maps, wrong-turn alerts, and lots more.</h3>
                <div class="d-flex gap-3 justify-content-center lead fw-normal">
                  <button class="button-81" routerLink="/Try AllTrails+" role="button">Give AllTrails+</button>
                </div>
              </div>
            </div>
        </div>
    </div> -->

<!-- </section> -->

<!-- share your next adventure  -->
<section>
  <div class="container ">
    <div class="container mt-5">
      <div class="d-flex align-items-center justify-content-between">
          <div>
              <p class="m-0">
                <h3>Share Your Next Adventure</h3>
                <p>
                  Show us how you #GetOutThere by tagging us HikeAll for a chance to be featured!
                </p>
          </div>
          <div class="justify-content-evenly fs-5" style="color: #2c5601; padding: 1rem;">
              <i class="bi bi-instagram"></i>
          </div>
      </div>
  </div>
</div>
  
  <div class="row row-cols-1 row-cols-md-4 g-4 mx-auto">
    <div class="col" id="column">
      <div class="card h-100">
        <img src="assets\img\socialpic1.jpg" class="card-img-top" alt="..." width="max-content">
        
      </div>
    </div>
    <div class="col" id="column">
      <div class="card h-100">
        <img src="assets\img\socialpic1.jpg" class="card-img-top" alt="..." width="max-content">
        
      </div>
    </div>
    <div class="col" id="column">
      <div class="card h-100">
        <img src="assets\img\socialpic1.jpg" class="card-img-top" alt="..." width="max-content">
        
      </div>
    </div>
    <div class="col" id="column">
      <div class="card h-100">
        <img src="assets\img\socialpic1.jpg" class="card-img-top" alt="...">
        
      </div>
    </div>
  </div>
  
  
  
  
</section>


<!-- another all trails Sign-up -->
<section class="mx-auto" style="background: #2c5601; color: #fff;">
  <div class="mx-auto">
    <div class="container">
      <div class="row">
        <!-- Grid Item 1 -->
        <div class="col-md-4">
            <div class="bg-transparent p-3 rounded">
              <i class="bi bi-universal-access-circle fs-3"></i>
                <h1>1% for the Planet</h1>
                <h6>A portion of every HikeAll<sub>+</sub> membership goes to protecting the wild places we cherish.</h6>
            </div>
        </div>
  
        <!-- Grid Item 2 -->
        <div class="col-md-4">
            <div class="bg-transparent p-3 rounded">
                <i class="bi bi-tree fs-3 "></i>
                <h1>10,000 trees (and counting) </h1>
                <h6>From new member invites to employee anniversaries, we celebrate by giving to One Tree Planted.</h6>
            </div>
        </div>
  
        <!-- Grid Item 3 -->
        <div class="col-md-4">
            <div class="bg-transparent p-3 rounded">
              <i class="bi bi-geo fs-3"></i>
                <h1>No trace on the trail</h1>
                <h6>As a Leave No Trace partner, we’re committed to keeping outdoor spaces clean, safe, and kind.
                </h6>
            </div>
        </div>
        <div class="col-md-4 pb-3">
          <a routerLink="/Try AllTrails+" class="button-81" role="button" > Get HikeAll<sub>+</sub> and give back </a>
        </div>
    </div>
    </div>
  </div>
</section>
