<!-- 
  <ul class="nav justify-content-center align-items-center mx-auto">
    <li class="nav-item">
        <a class="nav-link" href="#">AllTrails Gear</a>
      </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-cart-fill fs-3"></i></a>
      </li>
  </ul> -->

  <!-- Shop Now -->
<div class="mx-auto" style="background-image: url('assets/img/help-img.jpg'); background-size: cover; max-height: 100vh; display: flex;">
    <div class="row">
        <div class="col">
            <div class="image-container">

                <a routerLink="/Try AllTrails+" class="button-81" role="button" id="btn-main" > Shop Now </a>
            </div>
        </div>
    </div>
</div>

<!-- Gears -->
<section>
    <h2>Featured <b>Products</b></h2>

    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card product-card">
                    <img src="assets/img/help-img.jpg" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">Everyday Explorer Carabiner</h5>
                        <p class="card-text">$8.00</p>
                    </div>
                    <button class="add-to-cart-icon"><i class="bi bi-bag"></i></button>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card product-card">
                    <img src="assets/img/help-img.jpg" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">Everyday Explorer Long Sleeve Tee - Heather Forest</h5>
                        <p class="card-text">$45.00</p>
                    </div>
                    <button class="add-to-cart-icon"><i class="bi bi-bag"></i></button>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card product-card">
                    <img src="assets/img/help-img.jpg" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">Trucker Hat </h5>
                        <p class="card-text">$35.00</p>
                    </div>
                    <button class="add-to-cart-icon"><i class="bi bi-bag"></i></button>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card product-card">
                    <img src="assets/img/help-img.jpg" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">Bloom Hoodie</h5>
                        <p class="card-text">$65.00 </p>
                    </div>
                    <button class="add-to-cart-icon"><i class="bi bi-bag"></i></button>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card product-card">
                    <img src="assets/img/help-img.jpg" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">Explorer Beanie - Black</h5>
                        <p class="card-text">$32.00</p>
                    </div>
                    <button class="add-to-cart-icon"><i class="bi bi-bag"></i></button>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card product-card">
                    <img src="assets/img/help-img.jpg" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">Fanny Pack</h5>
                        <p class="card-text">$40.00</p>
                    </div>
                    <button class="add-to-cart-icon"><i class="bi bi-bag"></i></button>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card product-card">
                    <img src="assets/img/help-img.jpg" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">Sock</h5>
                        <p class="card-text">$20.00</p>
                    </div>
                    <button class="add-to-cart-icon"><i class="bi bi-bag"></i></button>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card product-card">
                    <img src="assets/img/help-img.jpg" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">Rumpl Blanket</h5>
                        <p class="card-text">$120.00</p>
                    </div>
                    <button class="add-to-cart-icon"><i class="bi bi-bag"></i></button>
                </div>
            </div>

         
        </div>
    </div>
</section>

<!-- Exclusive New Look -->
<section class="p-3" style="background-color: #f6f5e8;">
    <div class="container mt-4">
        <div class="row highlight">
            <div class="col-md-6">
                <!-- Left side with text and button -->
                <div class="text-center">
                    <!-- logo -->
                    <h2>Classic daypack, exclusive new looks</h2>
                    <p>Introducing the iconic Topo Rover Pack in three custom HikeAll color combos. Versatile, durable, and made with recycled fabric—it's designed to take you from town to the trail.</p>
                    <button class="mb-2 button-81">Buy</button>
                </div>
            </div>

            <div class="col-md-6">
                <!-- Right side with image -->
                <div class="text-center">
                    <img src="assets/img/login2.jpg" alt="Image" class="img-fluid rounded">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Limited Stock -->
<section>
    <h2>Limited Stock <b>Deals </b></h2>

    <div class="container mt-4">
        <div class="row">

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card product-card">
                    <img src="assets/img/help-img.jpg" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">Run Short</h5>
                        <p class="card-text">$20.00</p>
                    </div>
                    <button class="add-to-cart-icon"><i class="bi bi-bag"></i></button>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card product-card">
                    <img src="assets/img/help-img.jpg" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">Grand Hammock</h5>
                        <p class="card-text">$49.00</p>
                    </div>
                    <button class="add-to-cart-icon"><i class="bi bi-bag"></i></button>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card product-card">
                    <img src="assets/img/help-img.jpg" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">Tote Travel Bag</h5>
                        <p class="card-text">$15.00</p>
                    </div>
                    <button class="add-to-cart-icon"><i class="bi bi-bag"></i></button>
                </div>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card product-card">
                    <img src="assets/img/help-img.jpg" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">Multi-Use MicroFiber Towel </h5>
                        <p class="card-text">$49.00</p>
                    </div>
                    <button class="add-to-cart-icon"><i class="bi bi-bag"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="mx-auto" style="background: #2c5601; color: #fff; padding-bottom: 1rem; min-height: fit-content;">
    <div class="mx-auto">
      <div class="container">
        <div class="row pt-4">
          <!-- Grid Item 1 -->
          <div class="col-md-4">
              <div class="bg-transparent p-3 rounded">
                <i class="bi bi-universal-access-circle fs-3"></i>
                  <h1>1% for the Planet</h1>
                  <h6>A portion of every HikeAll<sub>+</sub> membership goes to protecting the wild places we cherish.</h6>
              </div>
          </div>
    
          <!-- Grid Item 2 -->
          <div class="col-md-4">
              <div class="bg-transparent p-3 rounded">
                  <i class="bi bi-tree fs-3 "></i>
                  <h1>10,000 trees (and counting) </h1>
                  <h6>From new member invites to employee anniversaries, we celebrate by giving to One Tree Planted.</h6>
              </div>
          </div>
    
          <!-- Grid Item 3 -->
          <div class="col-md-4">
              <div class="bg-transparent p-3 rounded">
                <i class="bi bi-geo fs-3"></i>
                  <h1>No trace on the trail</h1>
                  <h6>As a Leave No Trace partner, we’re committed to keeping outdoor spaces clean, safe, and kind.
                  </h6>
              </div>
          </div>
          <div class="col-md-4 pb-3">
            <a routerLink="/Try AllTrails+" class="button-81" role="button" > Get HikeAll<sub>+</sub> and give back </a>
          </div>
      </div>
      </div>
    </div>
  </section>